
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h2>Oops...Something went wrong!!!</h2>
    </div>
    @Html.ActionLink("Back to Employee List", "EmployeeUI")
</body>
</html>
